h2 {
    background-color: lightgrey;
}

.inscription{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin: .5rem;
}

.preference {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin: .5rem;
}
